[submodule "src/MCP7940_Library"]
	path = src/MCP7940_Library
	url = https://github.com/bschulz1701/MCP7940_Library.git
[submodule "src/Driver_-_MCP79412"]
	path = src/Driver_-_MCP79412
	url = https://github.com/gemsiot/Driver_-_MCP79412.git
[submodule "src/SparkFun_Ublox_Arduino_Library"]
	path = src/SparkFun_Ublox_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_Ublox_Arduino_Library.git
